<h2>利用者情報を登録する</h2>

<!--<%#= form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f| %>-->
<%= form_for @user, url: { action: 'confirm' }, html: { class: "form-table" } do |f| %>
  <%= f.hidden_field :confirmation_token %>
  <%= f.hidden_field :confirmed_at, value: Time.zone.now %>
  <%= devise_error_messages! %>

  <table class="table">
    <tr>
      <th><%= f.label t('.password') %><span class="text-danger", style="color:red;"> * </span><br />
      <!--<em><%#= @minimum_password_length %> 文字以上</em>-->
      </th>
      <td><%= f.password_field :password, autocomplete: "off" %></td>
    </tr>
    <tr>
      <th><%= f.label t('.password_confirmation') %><span class="text-danger", style="color:red;"> * </span></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
    </tr>
    <tr>
      <th><%= f.label t('.user_name') %><span class="text-danger", style="color:red;"> * </span></th>
      <td><%= f.text_field :user_name %></td>
    </tr>
    <tr>
      <th><%= f.label t('.nick_name') %><span class="text-danger", style="color:red;"> * </span></th>
      <td><%= f.text_field :nick_name %></td>
    </tr>
    <tr>
      <th><%= f.label t('.family_name') %></th>
      <td><%= f.text_field :family_name %></td>
    </tr>
    <tr>
      <th><%= f.label t('.given_name') %></th>
      <td><%= f.text_field :given_name %></td>
    </tr>
    <tr>
      <th><%= f.label t('.phone_number') %></th>
      <td><%= f.text_field :phone_number %></td>
    </tr>
    <tr>
      <th><%= f.label t('.company_name') %><span class="text-danger", style="color:red;"> * </span></th>
      <td><%= f.text_field :company_name %></td>
    </tr>
    <tr>
      <th><%= f.label t('.education') %><span class="text-danger", style="color:red;"> * </span></th>
      <td><%= f.text_field :education %></td>
    </tr>
    <tr>
      <th><%= f.label t('.age') %></th>
      <!--<td><%#= f.select :age, User.ages_i18n.invert %></td>-->
      <td>
        <% User.ages_i18n.invert.each do |key, value| %>
          <%= f.radio_button :age, value, class: "radio-input", id: "user_#{key}" %>
          <%= f.label key %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= f.label t('.gender') %></th>
      <!--<td><%#= f.select :gender, User.genders_i18n.invert %></td>-->
      <td>
        <% User.genders_i18n.invert.each do |key, value| %>
          <%= f.radio_button :gender, value, class: "radio-input", id: "user_#{key}" %>
          <%= f.label key %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= f.label t('.residential_area') %></th>
      <td><%= f.collection_select :residential_area, JpPrefecture::Prefecture.all, :code, :name %></td>
    </tr>
    <!--<tr>-->
    <!--  <th><%#= f.label t('.user_comment') %></th>-->
    <!--  <td><%#= f.text_area :user_comment %></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--  <th><%#= f.label t('.user_type') %></th>-->
    <!--  <td>-->
    <!--    <%# User.user_types_i18n.invert.each do |key, value| %>-->
    <!--      <%#= f.radio_button :user_type, value, class: "radio-input", id: "user_#{key}" %>-->
    <!--      <%#= f.label key %>-->
    <!--    <%# end %>-->
    <!--  </td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--  <th><%#= f.label t('.visible') %></th>-->
    <!--  <td>-->
    <!--    <%# User.visibles_i18n.invert.each do |key, value| %>-->
    <!--      <%#= f.radio_button :visible, value, class: "radio-input", id: "user_#{key}" %>-->
    <!--      <%#= f.label key %>-->
    <!--    <%# end %>-->
    <!--  </td>-->
    <!--</tr>-->
  </table>
  <%= f.submit t 'helpers.submit.confirm' %>
    
  <% end %>

