<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login" }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="login__text">
    <span class="login__sign-in">ログイン</span>
  </div>
  <div class="login__email">
    <%= f.email_field :email, autofocus: true, placeholder: :email %>
  </div>

  <div class="login__password">
    <!--<%#= f.label :password %><br />-->
    <%= f.password_field :password, autocomplete: "off", placeholder: :password %>
  </div>

  <%= f.submit "ログインする", class: "login__button" %>
<% end %>
